{% extends 'learnathon/base.html' %}

{% block title %}Post Score{% endblock title %}

{% block content %}
<form method="POST">
    {% csrf_token %}
<div class="card text-center mx-4">
    <div class="card-header">
      Post score in Review {{review_no}} for team - {{course}}-{{team_no}}
    </div>
    <div class="card-body">
      <div class="row my-4">
        <div class="col-md-4">
          <b>Instructions: </b><br />
        {% for instruction in instructions %}
        {{instruction}}<br />
        {% endfor %}<br />
        <b>Rubrics: </b><br />
        {% for question in questions %}
        {{question}}<br />
        {% endfor %}<br />
        </div>
        <div class="col-md-4 ml-auto"></div>
        <div style="text-align: right;" class="col-md-4 ml-auto">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Rough Area (not considered for score)</label>
            <textarea style="height: 250px;" class="form-control" placeholder="(for reviewer's reference only. Content written here is not considered when posting score)" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
      </div>
      {% for student_score in student_review_scores %}
      <div class="row my-4">
        <div class="col">
          <div class="d-flex"><div><label for="score_{{student_score.student.registration_no}}">Score for {{student_score.student.registration_no}} <b>(Out of 10)</b></label></div></div>
          <input min="0" max="10"  required id="score_{{student_score.student.registration_no}}" type="number" class="form-control" name="score_{{student_score.student.registration_no}}" value="{{student_score.score}}" placeholder="Enter score for {{student_score.student.registration_no}}...">
        </div>
        <div class="col">
          <div class="d-flex"><div><label for="comments_{{student_score.student.registration_no}}">Comments for {{student_score.student.registration_no}}</label></div></div>
          <input required type="text" value="{{student_score.comments}}" class="form-control" name="comments_{{student_score.student.registration_no}}" placeholder="Enter comments for {{student_score.student.registration_no}}...">
        </div>
      </div>
      {% endfor %}
      <input type="submit" value="Post Score" class="btn btn-primary" />
    </div>
  </div>
</form>
{% endblock content %}
